@Styles.Render("~/Content/css")
@*@Scripts.Render("~/bundles/modernizr")*@

<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

@*<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>*@
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>

<style>
    .button1 {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #696969;
        border: none;
        border-radius: 15px;
        border: 1px solid #d7d8db;
        padding: 7px;
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        top: 100px;
    }

        .button1:hover {
            background-color: #696969;
        }

        .button1:active {
            background-color: #696969;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
</style>



<div class="container-fluid">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" style="background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-size: cover;">
            <div class="overlay"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">


                        <div class="hexagon-menu clear">
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>

                                </div>
                                <a class="hex-content" href="AssignedTicket">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-universal-access"></i>
                                        </span>

                                        <span class="title">Assigned Tickets</span>

                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>

                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="CreateTicket">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-bullseye"></i>
                                        </span>
                                        <span class="title">Create Ticket</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="MyTicket">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-braille"></i>
                                        </span>
                                        <span class="title">My Tickets</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="ProfileDetail">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-id-badge"></i>
                                        </span>
                                        <span class="title">Profile</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            @*<i class="fa fa-life-ring"></i>*@
                                        </span>
                                        <span class="title"></span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="GroupTicket">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-clipboard"></i>
                                        </span>
                                        <span class="title">Group Tickets  </span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            @*<i class="fa fa-map-signs"></i>*@
                                        </span>
                                        <span class="title"></span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                </a>
                                @*<div class="navbar-right">
                                @Html.ActionLink("Logout", "Logout", "Admin")
                            </div>*@
                            </div>
                        </div>
                         <button class="button1" style="float: right;">@Html.ActionLink("Logout", "Logout", "Admin")</button>

                    </div>

                </div>

            </div>

        </div>
    </div>
    @RenderBody()
</div>





@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/custom")
@RenderSection("scripts", required: false)